body{
    background-color: rgb(43, 59, 75);
    text-align: center;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#head{
    width: 600px;
    height: 100px;
    background-color: mediumturquoise;
    margin-bottom: 10px;
}

input[type="text"],input[type="password"]{
    background: none;
    border: 0;
    border: 2px solid #07f7ff;
    display: block;
    margin: 20px auto;
}



div#main-left{
    width: 200px;
    height: 200px;
    background-color: rgb(10, 21, 58);
    float: left;
    margin-left: 10px;
    

}


div#main{
    width: 390px;
    height: 200px;
    background-color: rgb(10, 21, 58);
    float: left;
}

h1{
    color: snow;
}

div#bottom{
    width: 600px;
    height: 100px;
    background-color: palegreen;
    margin-top: 10px;
}