*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    
}
body{
    padding-top: 60px;
}
.menu{
    width: 100%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.158);
    box-shadow: 1px 1px 10px black;
    top: 0;
    position: fixed;
}

ul li{
    float: left;
    list-style: none;
}
ul li a{
    text-align: center;
    padding: 20px 0px;
    text-decoration: none;
    width: 100px;
    display: block;
    text-transform: uppercase;
    color: black;
}

span{
    padding-top: 10px;
    font-size: 30px;
    margin-right: 5%;
    float: right;
}

.contents1{
    height: 500px;
    width: 100%;
    background: rgb(201, 215, 241);
    
}
.contents2{
    height: 500px;
    width: 100%;
    background: rgb(143, 179, 245);
}
.contents3{
    height: 500px;
    width: 100%;
    background: rgb(255, 255, 255);
}
.contents4{
    height: 800px;
    width: 100%;
    background: rgb(58, 104, 189);
}


