*{margin: 0; padding: 0;}
ul,ol{list-style: none;}
body{background: gray;}

.menu_wrap{width: 100%;max-width: 350px;margin: 60px auto 20px;background: #fff;border-radius: 10px;}


.menu_wrap li.on .menu{ color: rgb(29, 139, 230);}

.menu_wrap li:last-child .menu {border-bottom: 0;}

.menu{cursor: pointer;display: block;padding: 15px 15px 15px 45px;font-size: 18px;border-bottom: 1px solid #ccc;color: #212121;position: relative;transition: all 0.4s ease-out;}

.sub_menu{display: none; background: rgb(213, 228, 235);}
.sub_menu li {padding: 20px  60px; border-bottom: 1px solid #B6B6B6;}



