body,html{
   height: 100%;
   margin: 0;
   padding: 0;
}
.banner-img{
    background-image: url(wallpaper.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #ffffff;
    color: #ffffff;
    
    width: 600px;
    padding: 40px 0;
    text-align: center;
    
}
